.main-page {
  position: absolute;
  text-align: center;
  padding: 1rem;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 44px;
  padding-bottom: 2rem;
}

.mat-raised-button {
  // width: 200px;
}
